html{
    overflow-x: hidden;
}
#preloader{
    background:#ffffff url('../../images/preloader.gif') no-repeat center center;
    background-size: 30%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 10000;
}
.search-bar{
    width: 100%;
    margin: 0 5px;
    /* margin-left: 5%;
    margin-right: 5%; */
}
#search_product{
    /* opacity: 0;
    visibility: hidden; */
    /* transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out; */
}
.search-bar span{
    cursor: pointer;
}
.search-bar input,  .search-bar input:focus{
    border: none;
    color: white;
}
.search{
    color: white;
    border: #333;
}
.search-submit{
    position: absolute;
    z-index: 1000;
    padding: 0 !important;
    padding-left: 5px !important;
    top: 50%;
    bottom: 50%;
}
#search_product{
    color:black;
    padding-left: 33px !important;
    margin-right: 5px !important;
    font-style: italic;
}
.ui-menu{
    z-index: 3500 !important;
}
section{
    padding: 60px 14% 70px !important;
}

.home{
    position: relative !important;
    /* width: 100% !important; */
    height: 80vh !important;
    /* margin: 1.5rem !important; */
    /* background-image: url('../../images/fondo.jpg'); */
    /* background-image: url('{{ asset('storage/images/fondo.jpg') }}'); */
    padding: 60px 8% 70px !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: right !important;
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
}
.home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* adjust opacity as needed */
}
.home-text{
    display: flex !important;
    flex-direction: column !important;
}
.home-text h1{
    /* top: 30%;
    left: 10%;
    position: absolute; */
    z-index: 1;
    color: white;
}
.home-text p{
    /* position: absolute;
    top: 47%;
    left: 10%; */
    color: white;
    font-size: 28px;
    line-height: 33px;
    margin-bottom: 20px;
    z-index: 1;
}
#prod-hot{
    height: 80vh !important;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
}
/* .hot-product-container{
    display: flex;
    align-items: flex-start;
    justify-content: end;
} */
/* @media (max-width: 768px) {
   #prod-hot{
        margin: 1.5rem !important;
    
    }
    .hot-product-container{
        align-items: center !important;
    
    }
  }
   */
.custom-shape-divider-bottom-1680324404 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1680324404 svg {
    position: relative;
    display: block;
    width: calc(144% + 1.3px);
    height: 76px;
}

.custom-shape-divider-bottom-1680324404 .shape-fill {
    fill: #ffffff;
}
a:hover{
    opacity: .7;
}
.slider {
    position: relative;
    z-index: 1;
  }
  
  .navbar-home {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
  }
  
.banner{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    align-items: center;
    gap: 2rem;
}
.banner-img{
    overflow: hidden;
}
.banner-img img{
    width: 60% !important;
    display: block;
    transition: transform 0.5s;
    cursor: pointer;
}

.card-slider{
    background-color: #ededf2 !important;
    border: none;
}
.card-slider .card-body a{
    color: #281b24;
}
.card-slider .card-body a:hover{
    color: #cf4647 !important;
    text-decoration: none;
}
/* .card-slider .card-body{
    
} */
.owl-carousel img, .card image {
    max-width: 100% !important;
    height: 300px !important;
    object-fit: contain !important;
}  
.card-filter img{
    max-width: 100% !important;
    height: 200px !important;
    object-fit: contain !important;
    transition: .3s ease !important;
}  
.card-filter:hover img{
    transform: scale(1.1);
}

.card-body-cat{
    position: absolute;
    bottom:-200px;
    transition: .2s ease-in;
    width: 100%;
}
.card-title:hover{
    color: #cf4647;
}
.card-cat:hover .card-body-cat{
    bottom: 0;
    color: white;
}
.card-cat:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
  }
    
  .custom-shape-divider-bottom-1680362032 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1680362032 svg {
    position: relative;
    display: block;
    width: calc(178% + 1.3px);
    height: 73px;
}

.custom-shape-divider-bottom-1680362032 .shape-fill {
    fill: #a7c5bd;
}
.dropdown-item:hover{
    color: #281b24 !important;
    background-color: #f4f4f4 !important;
}

/* rating */
.rating-css div {
    color: #ffe400;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    padding: 20px 0;
  }
  .rating-css input {
    display: none;
  }
  .rating-css input + label {
    font-size: 40px;
    text-shadow: 1px 1px 0 #8f8420;
    cursor: pointer;
  }
  .rating-css input:checked + label ~ label {
    color: #b4afaf;
  }
  .rating-css label:active {
    transform: scale(0.8);
    transition: 0.3s ease;
  }
.btn-red{
    background-color: #cf4647;
    color: white;
}
.btn-red:hover{
    background-color: #cf4646e4;
    color: white;
}
.btn-azul{
    background-color:#8cab94;
    color: white;
}
.btn-azul:hover{
    background-color: #8cab94e2;
    color: white;
}
.btn-naranjo{
    background-color:#eb7b59;
    color: white;
}
.btn-naranjo:hover{
    background-color: #eb7b59e5;
    color: white;
}
.gold{
    color: #ffd900;
}
/* End of Star Rating */


.page-link{
    color: #8cab94 !important;
}
.page-link:hover{
    color: #ffffff !important;
    background-color: #a7c5bd !important;
}
.page-item.active .page-link {
    z-index:3;
    color:#fff !important;
    background-color:#cf4647 !important;
    border-color:#cf4647 !important;
}
.page-item.active:hover .page-link {
    color:#fff !important;
}


.iniciar, .registrar{
    padding: 5px;
}

.group{
    position: relative;
    height: 30px;
    overflow: hidden;
    color: #d1d1d1;
    background-color: #2a2a2a;
    border-bottom: 2px solid #2a2a2a;
    border-top: 2px solid #2a2a2a;
}
.group .text{
    position: absolute;
    margin: 5px 0;
    padding: 0;
    font-weight: 600;
    width: max-content;
    animation: move-text 10s linear infinite;
}
.btn-home{
    /* position: absolute;
    top: 60%;
    left: 10%; */
    width: 40%;
    padding: 15px 25px;
    color: white;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 30px;
    transition: all .30s ease;
    z-index: 1;
  }
  .btn-home:hover{
    opacity: 1 !important;
    color: white !important;
  }
@media (max-width: 768px) {
  .btn-home {
    top: 72%;
    left: 10%;
  }
}

.hide{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-50%);
    transition: all 1s;
}
.sho{
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0%);
    /* transition: all 1s; */
}


@media(prefers-reduced-motion){
    .hide{
        transition: none;
    }   
}
.modal-container{
    max-width: 60%;
}

@media (max-width: 768px) {
    .modal-container{
        max-width: 500px;
    }
  }

.countdown{
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: white;
    margin-top: 20px;
}
.day,.hour,.minute,.second{
    font-size: 3rem;
}
  

@media (max-width: 768px) {
    .user-img {
        width: 50px !important;
    } 
   
  }
